@use "../mixins/media-mixin" as *;
.product {
  background-color: #fff;
  &-title {
    margin-inline: auto;
    text-align: center;
    padding-top: 140px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    padding-bottom: 60px;
    @include lg {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 64px;
    }
  }
  &-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 145px;
    @include lg {
      grid-template-columns: 1fr;
      gap: 30px;
      padding-bottom: 80px;
    }
  }
  &-item {
    &__image {
      transition: 0.2s;
    }
    &__description {
      transition: 0.2s;
    }
    a {
      transition: 0.2s;
    }
    a:hover .product-item__description {
      color: #F1C82F;
    }
    a:hover .product-item__image {
      transform: scale(1.05);
    }
  }
  &-image {
    padding-left: 20px;
    @include sm {
      width: 345px;
      margin-inline: auto;
    }
    &--order {
      margin-top: 40px;
      order: 1;
      @include lg {
        order: 0;
      }
      @include sm {
        width: 345px;
        margin-inline: auto;
      }
    }
    &__picture {
      width: 100%;
    }
  }
  &-info {
    padding-inline: 100px;
    @include lg {
      padding-inline: 15px;
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      padding-bottom: 40px;
    }
    &__description {
      opacity: 0.7;
      max-width: 488px;
    }
    &__subtitle {
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 600;
      color: #000000;
    }
    &__footnote {
      display: flex;
      gap: 14px;
      padding-bottom: 10px;
      &-text {
        opacity: 0.7;
      }
    }
    &__btn {
      width: 237px;
      height: 55px;
      background-color: #fff;
      border: 1px solid #F1C82F;
      font-size: 16px;
      line-height: 32px;
      margin-top: 40px;
      margin-bottom: 50px;
      display: block;
      cursor: pointer;
      transition: 0.2s;
    }
    &__price {
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 25px;
    }
    &__box {
      display: flex;
      gap: 28px;
      @include lg {
        gap: 15px;
        justify-content: center;
      }
      &-btn {
        width: 153px;
        height: 56px;
        background-color: #F1C82F;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        border: #F1C82F;
        transition: 0.2s;
        cursor: pointer;
        @include lg {
          width: 150px;
        }
        &--white-btn {
          background: #D6D6D640;
          width: 176px;
          @include lg {
            width: 150px;
          }
        }
      }
    }
  }
}

.product-info__box-btn:hover {
  border: 1px solid #F1C82F;
  background-color: #fff;
  font-size: 18px;
}
.product-info__box-btn--white-btn:hover {
  background-color: #000;
  color: white;
  border: 1px solid #000;
  font-size: 18px;
}
.product-info__btn:hover{
  font-size: 17px;
  border: 2px solid #F1C82F;
}